<div *ngIf="currentUser">
  <ion-list>
    <ion-list-header lines="inset">
      <ion-icon name="person-outline" class="ion-padding-end"></ion-icon>
      <ion-label>
        {{currentUser.username}}
      </ion-label>
    </ion-list-header>
    <ion-item button>Profile</ion-item>
    <ion-item button (click)="logout(); dismissPopover()">Logout</ion-item>
    <ion-item lines="none" detail="false" button (click)="dismissPopover()">Close</ion-item>
  </ion-list>
</div>
