<ion-menu side="start" content-id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>E-crystal</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <div *ngFor="let dropdown of dropdowns">
        <div class="dropdown-btn">
          <ion-item>
            <ion-icon name="list-outline" class="ion-padding-end"></ion-icon>
            <ion-label>{{dropdown.title}}</ion-label>
          </ion-item>
        </div>
        <div>
          <ng-container *ngFor="let item of dropdown.items">
            <ion-item class="ion-padding-start" routerLink="{{item.link}}">
              <ion-icon name="clipboard-outline" class="ion-padding-end"></ion-icon>
              <ion-label>{{item.name}}</ion-label>
            </ion-item>
          </ng-container>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-menu>
