<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      E-crystal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>E-crystal</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-grid>
      <ion-row class="ion-justify-content-center ion-margin-bottom ion-padding-bottom">
        <ion-col size-xs="6" size-md="4">
          <ion-img src="../../assets/images/logo.png"></ion-img>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center ion-margin-top">
        <ion-col size-xs="10" size-md="8" size-lg="4">
          <form [formGroup]="loginForm" novalidate>
            <ion-item class="ion-no-padding">
              <ion-input formControlName="username" type="text" placeholder="Username">
                <ion-icon name="person-outline" class="ion-padding-end"></ion-icon>
              </ion-input>
            </ion-item>
            <ion-item class="ion-no-padding">
              <ion-input formControlName="password" type="password" placeholder="Password">
                <ion-icon name="key-outline" class="ion-padding-end"></ion-icon>
              </ion-input>
            </ion-item>
            <div class="ion-margin-top">
              <ion-button type="submit" expand="block" (click)="onSubmit()">
                <ion-icon slot="start" name="log-in-outline"></ion-icon>
                Login
              </ion-button>
            </div>
          </form>
        </ion-col>
      </ion-row>
      <!--<ion-row class="ion-justify-content-center ion-margin-top">
        <ion-col  size-xs="10" size-md="8" size-lg="4">
          <a href="https://foundation.stars-end.net/">
            <ion-item class="ion-no-padding">
              <ion-thumbnail class="ion-margin-end">
                <img src="assets/images/ns-documentation.png" alt="documentation">
              </ion-thumbnail>
              <ion-text class="ion-text-uppercase">
                documentation
              </ion-text>
              <ion-icon name="arrow-forward-circle-outline" slot="end"></ion-icon>
            </ion-item>
          </a>
        </ion-col>
      </ion-row>-->
      <!--<ion-row class="ion-justify-content-center">
        <ion-col size-xs="10" size-md="8" size-lg="4">
          <a href="https://foundation.stars-end.net/">
            <ion-item class="ion-no-padding">
              <ion-thumbnail class="ion-margin-end">
                <img src="assets/images/ns-library.png" alt="library">
              </ion-thumbnail>
              <ion-text class="ion-text-uppercase">
                library
              </ion-text>
              <ion-icon name="arrow-forward-circle-outline" slot="end"></ion-icon>
            </ion-item>
          </a>
        </ion-col>
      </ion-row>-->
    </ion-grid>
  </div>
</ion-content>
