<ion-grid [fixed]="true">
  <ion-row class="ion-margin-bottom">
    <ion-col size-xs="10">
      <ion-buttons>
        <ion-button>
          <ion-icon name="add-outline"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon name="funnel-outline"></ion-icon>
        </ion-button>
        <div *ngIf="actionButtonsShown">
          <ion-button *ngIf="editButtonShown">
            <ion-icon name="pencil-outline"></ion-icon>
          </ion-button>
          <ion-button>
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
          <ion-button>
            <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-buttons>
    </ion-col>
    <ion-col>
      <ion-buttons class="ion-justify-content-end">
        <ion-button fill="light">
          <ion-icon name="settings-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-list>
        <ng-container *ngFor="let timesheet of timesheets">
          <ion-item>
            <ion-icon slot="start" [name]="true ? 'square-outline' : 'checkbox-outline'"></ion-icon>
            <ion-label>
              <h2>{{timesheet.name}}</h2>
              <h3>{{timesheet.employee.name}} - {{timesheet.month}}/{{timesheet.year}}</h3>
            </ion-label>
          </ion-item>
        </ng-container>
      </ion-list>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="page">
    <ion-col>
      <ion-item lines="none">
        <ion-text slot="start">
          Items {{firstItemOfCurrentPage}} - {{lastItemOfCurrentPage}} of {{page.totalElements}}
        </ion-text>
        <ion-buttons slot="end">
          <ion-button>
            <ion-icon name="play-skip-back-outline"></ion-icon>
          </ion-button>
          <ion-button>
            <ion-icon name="chevron-back-outline"></ion-icon>
          </ion-button>
          <ion-button>
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-button>
          <ion-button>
            <ion-icon name="play-skip-forward-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>


