<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size-xs="2">
          <ion-menu-button></ion-menu-button>
        </ion-col>
        <ion-col size-xs="8">
          <ion-title class="ion-margin-vertical">Timesheet</ion-title>
        </ion-col>
        <ion-col size-xs="2">
          <ion-item lines="none">
            <ion-avatar slot="end" class="user-avatar ion-no-margin" (click)="showUserMenu($event)">
              <img src="../../../../assets/images/avatar.svg" alt="user">
            </ion-avatar>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
